* {
  margin: 0;
  padding: 0;
  }
* {
  box-sizing: border-box;
}
.nav-bar{
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #14141f;
  margin: .2rem;
  padding: 1rem;
}
.welcome-section{
  Background: #eeeee4;
  padding: 1rem;
  margin: .2rem;
  text-align: center;
}
h2{
  background: #eeeee4;
  text-align: center; 
}
.row {
  display: flex;
}
.column {
  flex: 49%;
  padding: 5px;
}
.Coding-instruction{
  text-align: center;
  padding: 1.5rem;
  margin: 1rem;
  background: #eeeee4;
}
.iframe{
  padding: 1rem;
  margin: 0rem;
  text-align: center;
}
li {
  float: left;
}
.gallery{
  Background: #c3c7c4;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: brown;
}
.fox{
  border: 10px;
  background: #eeeee4;
  padding: 10px;
  margin: .2rem;
}
.comment{
  padding:8px;
  background: #eeeee4;
  border: 5px;
  text-align: center;
  display: block;
  margin: .2rem;
} 

.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }
